:root {
	/* main-colors */
	--main-color: #f5f6f8;
	--color-text-main: #3b434e;
	--color-decorations: #7653fc;
	--color-decorations-hover: #6344df;
	--color-mini-decorations: #1dc37e;
	--color-mini-decorations-light: #c8f8e4;
	--color-star-type-one: #fc836d;

	/* more colors */
	--specific-color-gray: #a4a4a4;
	--specific-color-gray-light: #ebebeb;
	--specific-color-gray-dark: #6c7077;
	--specific-color-red-light: #fea291;
	--specific-color-green: #007b48;
	--specific-color-green-light: #c8f8e4;

	/* main fonts */
	--font-family-main: 'Noto Sans KR', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	overflow-x: hidden;

	max-width: 100vw;
}

body {
	color: var(--color-text-main);
	background: var(--main-color);
	font-family: var(--font-family-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
